.homeContainer {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  padding: 40px;
  background-color: black;
  color: white;

  .title {
    font-size: 80px;
  }

  .option {
    font-size: 50px;
  }
}
